.view {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(190,190,190,1);
}
